<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <link rel="icon" type="image/x-icon" href="{{url_for('static',
    filename='icons/page_icon.ico')}}">
  </head>
    <title>SafeShare</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static',
    filename='css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',
    filename='css/home.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',
    filename='css/room.css')}}"
    />
  </head>
  <body>
    <div id="page-loader">
      <lottie-player
          src="{{url_for('static',
        filename='animations/page_loader.json')}}"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px; pointer-events: none"
          loop
          autoplay
        ></lottie-player>
    </div>
    <div class="content">{% block content %} {%endblock%}</div>
  </body>
  <script
  type="text/javascript"
  src="{{url_for('static', filename='js/base.js')}}"
></script>
</html>
