{% extends 'base.html' %} {% block content %}
<div id="error-list"></div>
<nav class="nav-bar">
  <div id="nav-icon">
    <img
      src="{{url_for('static',
  filename='icons/page_icon.png')}}"
    />
    <p>SafeShare</p>
  </div>
  <div class="nav-links">
    <button id="nav-create" onclick="scrollToCreate()">Create</button>
    <a class="nav-item" href="javascript:scrollToUsage();">Usage</a>
    <a class="nav-item" href="#about">About</a>
  </div>
</nav>
<div class="home-top">
  <div class="create-form" id="room-form">
    <p class="position-text">
      <span class="primary-blue">Create Room</span>
    </p>
    <ul class="tab-bar">
      <li data-num="1" class="tab wave dark primary-color">Join</li>
      <li data-num="2" class="tab wave dark" id="create-tab">Create Room</li>
      <div class="indicator"></div>
    </ul>
    <div class="card tab-card">
      <div class="name-form">
        <input
          type="text"
          id="name-input"
          name="name"
          placeholder="Username"
          value="{{name}}"
        />
      </div>
      <form method="submit" class="join-form" id="join-form">
        <input
          placeholder="Room Code"
          id="code-input"
          name="code"
          value="{{code}}"
        />
        <button type="submit" name="join">Join</button>
      </form>
      <form method="submit" id="create-form" class="dp-none">
        <label>Room Type</label>
        <div class="switch" id="room-type-switch">
          <div class="switch-item switch-item-active" id="room-type-left">
            Secured
          </div>
          <div class="switch-item" id="room-type-right">Open</div>
          <div class="switch-indicator" id="switch-indicator">
            <div class="switch-indicator-fill"></div>
          </div>
        </div>
        <p id="type-warning" class="dp-none">
          NOTE: Open rooms are accessible for anyone and messages are NOT
          encrypted!
        </p>
        <input
          type="password"
          placeholder="Room Password"
          id="room-password"
          name="room-password"
        />
        <button
          class="button-no-bg"
          id="create-room-btn"
          name="create"
          type="submit"
        >
          Create New Room
        </button>
      </form>
    </div>
  </div>
  <div class="recent-rooms">
    <p class="recent-title">Your Recent Rooms</p>
    <div class="room-list" id="recent-room-list"></div>
  </div>
</div>
<div class="usage" id="usage">
  <h2>Usage</h2>
  <div class="usage-text">
    <p class="primary-color">
      Choose a username and create a new room. Share the code for others to
      join.
    </p>
    <p>
      The chat allows you to share texts and files up to
      <span class="primary-blue">50mb</span>. The rooms are only temporary and
      will be deleted after a certain amount of time.
    </p>
  </div>
  <button onclick="scrollToCreate()" class="text-button create-now">
    Create now ➔
  </button>
</div>
<footer class="footer" id="about">
  <div class="footer__addr">
    <div id="footer-icon">
      <img
        src="{{url_for('static',
    filename='icons/page_icon.png')}}"
      />
      <p>SafeShare</p>
    </div>

    <h2>Report a Bug</h2>

    <address>
      <a class="footer__btn" href="mailto:example@gmail.com">Contact</a>
    </address>
  </div>
  <ul class="footer__nav">
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Quick Links</h2>
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Usage</a>
        </li>
        <li>
          <a href="#">Safety</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="legal">
    <p>&copy; 2023 SafeShare</p>
  </div>
</footer>
<script type="text/javascript">
  const error = "{{error}}";
</script>
<script
  type="text/javascript"
  src="{{url_for('static', filename='js/home.js')}}"
></script>
{%endblock%}
