{% extends 'base.html' %} {% block content %}
<div class="password-container">
  <div class="card">
    <p>
      The room <span class="primary-color">#{{room}}</span> is password
      protected
    </p>
    <form id="password-form" class="join-form">
      <input placeholder="password" type="password" id="password-input" />
      <button type="submit" name="join" id="join">Join</button>
    </form>
  </div>
</div>
<script type="text/javascript">
  const error = "{{error}}";
  console.log(error);
  const room = "{{room}}";
  const name = "{{name}}";
  const user_id = "{{user_id}}";
</script>
<script
  type="text/javascript"
  src="{{url_for('static', filename='js/password-form.js')}}"
></script>
{%endblock%}
