.name-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  width: 100%;
}

.join-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.card label {
  font-size: 18px;
}

.create-div {
  margin-top: 15px;
  padding: 20px;
}

.nav-bar  { 
  position: sticky; 
  top: 0;
  background-color: var(--neutral-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-bar a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  cursor: pointer;
  transition: all .05s ease;
  border-radius: 2px;
  padding: 10px 15px;
}

.nav-bar a:hover {
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.025);
}

#nav-create {
  padding: 10px 15px;
}

.home-top {
  gap: 30px;
  padding: 50px 0;
  padding-top: 10px;
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.position-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.recent-rooms {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  flex: 1;
}

.create-form {
  flex: 1;
  max-width: 450px;
}

.recent-title {
  font-size: 20px;
  color: var(--secondary-color);
}

.room-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.room-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 10px;
}

.room-item:hover {
  cursor: pointer;
  border: 1px solid var(--main-color);
}

.room-item-label {
  color: var(--main-color);
  font-size: 18px;
  pointer-events: none;
}

.room-item-time {
  font-size: 18px;
  pointer-events: none;
  color: var(--text-color);
}

#code-input {
  flex: 1;
}

.usage-text {
  width: 100%;
  max-width: 550px;
}

.usage {
  width: 100%;
  padding: 40px 20px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.usage p {
  padding: 15px;
  text-align: left;
}

.create-now {
  margin-top: 5px;
}

@media screen and (max-width: 750px) {
  .home-top {
    flex-direction: column;
    padding: 30px 10px;
    align-items: center;
  }

  .create-form {
    width: 100%;
  }

  .recent-rooms {
    width: 100%;
    max-width: 450px;
  }
}

.join-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}