@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #4285f4;
  --secondary-color: #3a77d8;
  --neutral-color: #f9f9f9;
  --dark-background: #413f3d;
  --text-color: #22292f;
}

.messages::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--secondary-color);
  color: white;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messages {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

div,
input,
textarea,
button,
select,
li,
a {
  -webkit-tap-highlight-color: transparent !important;
}

body {
  color: var(--text-color);
  background-color: var(--neutral-color);
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  overflow-y: hidden;
  overscroll-behavior-y: none;
  height: -webkit-fill-available;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

input {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.132);
  transition: box-shadow 0.1s ease;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 15px 20px;
  padding-left: 7px;
  min-width: 10px;
  font-size: 15px;
}

input:focus {
  box-shadow: 0px 0px 0px 2px var(--main-color);
}

button {
  outline: none;
  border: none;
  background-color: var(--main-color);
  border-radius: 2px;
  color: white;
  padding: 16px 15px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}

button:hover {
  background-color: var(--secondary-color);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

button:active {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.button-no-bg {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
  transition: 0.1s all ease;
  width: 100%;
}

.button-no-bg:hover {
  color: white;
}

.text-button {
  background-color: transparent;
  font-size: 17px;
  color: var(--main-color);
  border: none;
  outline: none;
  box-shadow: none;
}

.text-button:hover {
  background-color: rgba(0, 0, 0, 0.025);
  box-shadow: none;
}

.text-button:active {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.05);
}

#error-list {
  position: absolute;
  top: 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  pointer-events: none;
}

.error {
  padding: 12px 25px;
  color: white;
  background-color: #db4437;
  border-radius: 100px;
  animation: error-show 4s ease-in-out forwards;
  z-index: 100;
  user-select: none;
  cursor: pointer;
}

@keyframes error-show {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  5% {
    transform: translateY(0);
    opacity: 1;
  }

  95% {
    transform: translateY(0);
    opacity: 1;
    max-height: 400px;
    padding: 12px 25px;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
    max-height: 0;
    padding: 0;
  }
}

.primary-color {
  color: var(--main-color) !important;
}

.secondary-color {
  color: var(--secondary-color);
}

.primary-blue {
  color: var(--primary-blue);
}

#page-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #4286f43e;
  z-index: 100000;
  pointer-events: none;
  animation: page-load 0.5s ease-in-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes page-load {
  0% {
    background-color: #ffffff;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
